In [4]:
import csv
import json

csv_file_path = 'orders.csv'
json_file_path = 'orders.json'

# Read the CSV data
with open(csv_file_path, mode='r') as csvfile:
    csv_reader = csv.DictReader(csvfile, delimiter=',')
    data = list(csv_reader)

# Convert to JSON
with open(json_file_path, mode='w', encoding='utf-8') as jsonfile:
    jsonfile.write(json.dumps(data))

In [5]:
import json

json_file_path = 'orders.json'

# Read the JSON data into a Python dictionary
with open(json_file_path, 'r') as file:
    data = json.load(file)

structure = {key: type(value).__name__ for key, value in data[0].items()}
structure

{'OrderID': 'str',
 'OrderDate': 'str',
 'DeliveryDate': 'str',
 'CustomerID': 'str',
 'Territory': 'str',
 'Products': 'str',
 'productsIDs': 'str',
 'Quantities': 'str',
 'CartPriceInCP': 'str',
 'CartPrice': 'str',
 'ProductPricesInCP': 'str'}

In [29]:
import json

json_file_path = 'regions.json'

# Read the JSON data into a Python dictionary
with open(json_file_path, 'r') as file:
    data = json.load(file)

structure = {key: type(value).__name__ for key, value in data[0].items()}
structure

{'Territory': 'str',
 'Nation': 'str',
 'Region': 'str',
 'Regional Manager': 'str',
 'Area': 'str',
 'Area Manager': 'str'}

In [43]:
import pandas as pd 
csv_file = 'orders.csv'
order_data = pd.read_csv(csv_file)
order_data.head()

,OrderID,OrderDate,DeliveryDate,CustomerID,Territory,Products,productsIDs,Quantities,CartPriceInCP,CartPrice,ProductPricesInCP
0,1,2019-01-01,2019-01-11,54295995,Bloodstone (Damara),Blood of the Lycanthrope Antidote; Blanket; Ro...,"12436254, 24180928, 97076903, 33879927","8, 4, 9, 3",10285,102 GP; 8 SP; 5 CP,"1128, 2728, 5517, 912"
1,2,2019-02-03,2019-02-05,30949079,Arrabar,Sword of Life Stealing; Gloves of Swimming and...,"43737386, 58932672, 41444294","1, 4, 3",1196,11 GP; 9 SP; 6 CP,"91, 868, 237"
2,3,2022-03-15,2022-03-17,27632209,Toreus,Crossbow bolts (100); Staff of Fire; Hazirawn;...,"96772117, 38370611, 68975518, 37081717, 50072144","10, 2, 2, 2, 5",13543,135 GP; 4 SP; 3 CP,"8370, 1966, 588.6, 1418, 1135"
3,4,2023-10-31,2023-11-04,85166109,Grondsgrunn,White Dragon Mask; Breastplate; Arrows (100); ...,"15473113, 43242975, 83563708, 80834235, 351699...","9, 1, 7, 8, 3, 1, 1, 5",15281,152 GP; 8 SP; 1 CP,"1908, 770, 2142, 4360, 1179, 587, 420, 3915"
4,5,2021-05-30,2021-06-06,53179844,Riatavin,Horn; Rings of Shared Suffering; Signal whistl...,"12499477, 36612204, 66195015","10, 3, 7",7182,71 GP; 8 SP; 2 CP,"2940, 2268, 1974"

In [44]:

order_data['DeliveryTime'] = (pd.to_datetime(order_data['DeliveryDate']) - pd.to_datetime(order_data['OrderDate']))
order_data['DeliveryTime'] = order_data['DeliveryTime'].dt.days
order_data.head()

,OrderID,OrderDate,DeliveryDate,CustomerID,Territory,Products,productsIDs,Quantities,CartPriceInCP,CartPrice,ProductPricesInCP,DeliveryTime
0,1,2019-01-01,2019-01-11,54295995,Bloodstone (Damara),Blood of the Lycanthrope Antidote; Blanket; Ro...,"12436254, 24180928, 97076903, 33879927","8, 4, 9, 3",10285,102 GP; 8 SP; 5 CP,"1128, 2728, 5517, 912",10
1,2,2019-02-03,2019-02-05,30949079,Arrabar,Sword of Life Stealing; Gloves of Swimming and...,"43737386, 58932672, 41444294","1, 4, 3",1196,11 GP; 9 SP; 6 CP,"91, 868, 237",2
2,3,2022-03-15,2022-03-17,27632209,Toreus,Crossbow bolts (100); Staff of Fire; Hazirawn;...,"96772117, 38370611, 68975518, 37081717, 50072144","10, 2, 2, 2, 5",13543,135 GP; 4 SP; 3 CP,"8370, 1966, 588.6, 1418, 1135",2
3,4,2023-10-31,2023-11-04,85166109,Grondsgrunn,White Dragon Mask; Breastplate; Arrows (100); ...,"15473113, 43242975, 83563708, 80834235, 351699...","9, 1, 7, 8, 3, 1, 1, 5",15281,152 GP; 8 SP; 1 CP,"1908, 770, 2142, 4360, 1179, 587, 420, 3915",4
4,5,2021-05-30,2021-06-06,53179844,Riatavin,Horn; Rings of Shared Suffering; Signal whistl...,"12499477, 36612204, 66195015","10, 3, 7",7182,71 GP; 8 SP; 2 CP,"2940, 2268, 1974",7

In [45]:
 
csv_file = 'regions.csv'
region_data = pd.read_csv(csv_file)
region_data = region_data.drop(columns=['Area Manager','Regional Manager'])
region_data.head()

       Territory     Nation               Region   Area
0  Adama's Tooth     Durpar        Thayan Empire   East
1       Aerilpar    Veldorn        Thayan Empire   East
2        Alaghon    Turmish        Amnian Empire  South
3        Amphail  Waterdeep  Waterdhavian Empire  North
4       Amruthar       Thay        Thayan Empire   East

In [46]:
# Convert dictionaries to DataFrames

# Merge the DataFrames on 'Territory'
merged = pd.merge(order_data, region_data, on='Territory', how='left')

merged.head()

,OrderID,OrderDate,DeliveryDate,CustomerID,Territory,Products,productsIDs,Quantities,CartPriceInCP,CartPrice,ProductPricesInCP,DeliveryTime,Nation,Region,Area
0,1,2019-01-01,2019-01-11,54295995,Bloodstone (Damara),Blood of the Lycanthrope Antidote; Blanket; Ro...,"12436254, 24180928, 97076903, 33879927","8, 4, 9, 3",10285,102 GP; 8 SP; 5 CP,"1128, 2728, 5517, 912",10,Damara,Bloodlands Empire,North
1,2,2019-02-03,2019-02-05,30949079,Arrabar,Sword of Life Stealing; Gloves of Swimming and...,"43737386, 58932672, 41444294","1, 4, 3",1196,11 GP; 9 SP; 6 CP,"91, 868, 237",2,Chondath,Calim Empire,South
2,3,2022-03-15,2022-03-17,27632209,Toreus,Crossbow bolts (100); Staff of Fire; Hazirawn;...,"96772117, 38370611, 68975518, 37081717, 50072144","10, 2, 2, 2, 5",13543,135 GP; 4 SP; 3 CP,"8370, 1966, 588.6, 1418, 1135",2,Chessentea,Halruaan Empire,South
3,4,2023-10-31,2023-11-04,85166109,Grondsgrunn,White Dragon Mask; Breastplate; Arrows (100); ...,"15473113, 43242975, 83563708, 80834235, 351699...","9, 1, 7, 8, 3, 1, 1, 5",15281,152 GP; 8 SP; 1 CP,"1908, 770, 2142, 4360, 1179, 587, 420, 3915",4,Norland,United Moonshae Empire,West
4,5,2021-05-30,2021-06-06,53179844,Riatavin,Horn; Rings of Shared Suffering; Signal whistl...,"12499477, 36612204, 66195015","10, 3, 7",7182,71 GP; 8 SP; 2 CP,"2940, 2268, 1974",7,Amn,Amnian Empire,South

In [47]:
csv_file = 'customers.csv'
cust_data = pd.read_csv(csv_file)
cust_data['CustomerID'] = cust_data['Account Code'] 
cust_data = cust_data.drop(columns=['Key Account Manager','Account Name','Account Manager','Territory'])

cust_data.head()

   Account Code    Account Type     Key Account  CustomerID
0      78973104   Private Buyer   Private Buyer    78973104
1      68808447  No Key Account  No Key Account    68808447
2      97994203  No Key Account  No Key Account    97994203
3      78025705  No Key Account  No Key Account    78025705
4      67173182  No Key Account  No Key Account    67173182

In [48]:
# Convert dictionaries to DataFrames

# Merge the DataFrames on 'Territory'
merged_orders = pd.merge(merged, cust_data, on='CustomerID', how='left')

merged_orders.head()

,OrderID,OrderDate,DeliveryDate,CustomerID,Territory,Products,productsIDs,Quantities,CartPriceInCP,CartPrice,ProductPricesInCP,DeliveryTime,Nation,Region,Area,Account Code,Account Type,Key Account
0,1,2019-01-01,2019-01-11,54295995,Bloodstone (Damara),Blood of the Lycanthrope Antidote; Blanket; Ro...,"12436254, 24180928, 97076903, 33879927","8, 4, 9, 3",10285,102 GP; 8 SP; 5 CP,"1128, 2728, 5517, 912",10,Damara,Bloodlands Empire,North,54295995,No Key Account,No Key Account
1,2,2019-02-03,2019-02-05,30949079,Arrabar,Sword of Life Stealing; Gloves of Swimming and...,"43737386, 58932672, 41444294","1, 4, 3",1196,11 GP; 9 SP; 6 CP,"91, 868, 237",2,Chondath,Calim Empire,South,30949079,Key Account,Clothes Contact
2,3,2022-03-15,2022-03-17,27632209,Toreus,Crossbow bolts (100); Staff of Fire; Hazirawn;...,"96772117, 38370611, 68975518, 37081717, 50072144","10, 2, 2, 2, 5",13543,135 GP; 4 SP; 3 CP,"8370, 1966, 588.6, 1418, 1135",2,Chessentea,Halruaan Empire,South,27632209,No Key Account,No Key Account
3,4,2023-10-31,2023-11-04,85166109,Grondsgrunn,White Dragon Mask; Breastplate; Arrows (100); ...,"15473113, 43242975, 83563708, 80834235, 351699...","9, 1, 7, 8, 3, 1, 1, 5",15281,152 GP; 8 SP; 1 CP,"1908, 770, 2142, 4360, 1179, 587, 420, 3915",4,Norland,United Moonshae Empire,West,85166109,No Key Account,No Key Account
4,5,2021-05-30,2021-06-06,53179844,Riatavin,Horn; Rings of Shared Suffering; Signal whistl...,"12499477, 36612204, 66195015","10, 3, 7",7182,71 GP; 8 SP; 2 CP,"2940, 2268, 1974",7,Amn,Amnian Empire,South,53179844,Key Account,House of Wonders

In [49]:
# Save the DataFrame with more options
merged_orders.to_csv('orders_data.csv', sep=',', index=False, header=True, encoding='utf-8')

In [50]:
# Convert final data to json
csv_file_path = 'orders_data.csv'
json_file_path = 'orders_data.json'

# Read the CSV data
with open(csv_file_path, mode='r') as csvfile:
    csv_reader = csv.DictReader(csvfile, delimiter=',')
    data = list(csv_reader)

# Convert to JSON
with open(json_file_path, mode='w', encoding='utf-8') as jsonfile:
    jsonfile.write(json.dumps(data))